html,
body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (prefers-color-scheme: dark) {
  body {
    background: radial-gradient(
      circle at center,
      rgb(20, 30, 38) 0%,
      rgb(41, 61, 79) 120%
    );
  }
}

#main-canvas {
  display: block;
  width: 400px;
  height: 400px;
  border-radius: 10%;
  transition: width 4s ease;
  animation: expand-shrink 16s infinite;
}

@keyframes expand-shrink {
  0%,
  100% {
    width: 400px;
  }
  25%,
  50% {
    width: 450px;
  }
  75% {
    width: 350px;
  }
}

#second-canvas {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 700px;
  height: 700px;
  border-radius: 10%;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  vertical-align: middle;
}

