html,
body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (prefers-color-scheme: dark) {
  body {
    background: radial-gradient(circle at center, rgb(20, 30, 38) 0%, rgb(41, 61, 79) 120%);
  }
}

canvas {
  display: block;
  width: 400px;
  height: 400px;
  border-radius: 10%;
}
